:root { 
	--text: whitesmoke;
	--off-white: #b5b5b5;
	--modal-bg: #333;
	--pop: #ff2aff;
	--shadow: 0px 0px 8px #2ad8ff;
}

/* TYPOGRAPHY AND ELEMENTS */
body {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(48,35,59,1) 55%, rgba(60,41,77,1) 68%, rgba(110,66,151,1) 89%, rgba(181,101,255,1) 100%);
	/* linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(48,35,59,1) 46%, rgba(60,41,77,1) 58%, rgba(110,66,151,1) 86%, rgba(181,101,255,1) 100%); */
	/* linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(48,35,59,1) 42%, rgba(60,41,77,1) 58%, rgba(110,66,151,1) 86%, rgba(181,101,255,1) 100%); */
	/* linear-gradient(to bottom, #b565ff 1%, #161616); */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: var(--text);
}

h1 { 
	font-size: 2rem;
	font-weight: 700;
}

h2 { 
	font-size: 1.8rem;
	font-weight: 700;
}

h3 { 
	font-size: 1.7rem;
	font-weight: 600;
}

h4 { 
	font-size: 1.5rem;
	font-weight: 500;
}

h5 { 
	font-size: 1.3rem;
	font-weight: 500;
}

p { 
	line-height: 1.6rem;
}

p + p { 
	margin-top: 1.5rem;
}

.btn {
	padding: 1%;
	background:#7B52AB;
	font-size: 1.3rem;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 5px;
	box-shadow: var(--shadow);
	/* rgba(33, 203, 243, .3) */
	transition: all 0.3s ease-in-out;
  } 

.btn:hover { 
	background: var(--pop);
}

img { 
	object-fit: contain;
}
/* END - TYPOGRAPHY AND ELEMENTS */

.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


/* smallHeader */
a.text-dark.logo { 
    text-decoration: none;
}

.navTab:hover { 
	background: var(--pop);
	/* rgb(236, 185, 236); */
	color: var(--text);
	transform: scale(1.1)
}
/* END - smallHeader */


/* SEARCH */
.tabLabel:hover {
    background: #7B52AB,
}

.tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
	background: #553285;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content, .tab-content {
	z-index: 1;
	/* show/hide */
		opacity: 1;
		transform: scale(1);
}
/* END - SEARCH */



/* GENERAL MODAL - LOOKING TO CODE */
.modalPage { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainTitle { 
	margin: .5% 0 1.5% 0;
}

.modalContainer { 
	min-width: 45%;
	margin: 0 auto; 
	padding: 1% 3%; 
 	background: var(--modal-bg);
	color: var(--text); 
	border-radius: 3%;
}

/* Modal Form Styling */ 
form { 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sectionHeading { 
	margin-top: 3%;
	font-size: 1.4rem;
	color: var(--pop);
}

/* .buttonContainer { 
	width: fit-content;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	display: flex;
	min-height: 50px;
} */

.formOptionButton:hover { 
	font-weight: 600;
}

.submit { 
	margin: 3% 30% 1% 30%;
	border: 2px solid lightblue;
	color: var(--text);
	cursor: pointer;
}
/* END - GENERAL MODAL */


/* SIGN UP CAROUSEL */
.carousel-inner {
	padding: 60px;
}

/* .profileFlex > *{
	width: 48%;
} */

.profileFlex .list-group-item {
	background: transparent;
	border: none;
	box-shadow: 0px 0px 8px rgb(242 144 255);
	padding: 5px;
	padding: 0 20px;
    text-align: center;
    margin-bottom: 12px;
	border-radius: 0;
}

.profileFlex .list-group-item a{
	background: transparent;
    color: white;
}

.profileFlex h5 {
	color: white;
	margin-bottom: 20px;
}



/* HEADER */
.headerFade { 
	position: relative;
}

.headerFade::after { 
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	pointer-events: none;
	width: 100%;
    height: 5rem;
    background-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, 0), 
        rgb(57, 40, 71) 
    100%);
}

/* HEADER QUOTES */
.content-slider {
	width: 100%;
	height: 100px;
  }
  
  .slider {
	height: 100px;
	width: 100%;
	margin: 40px auto 0;
	overflow: visible;
	position: relative;
  }
  
  .mask {
	overflow: hidden;
	height: 100px;
  }
  
  .slider ul {
	margin: 0;
	padding: 0;
	position: relative;
  }
  
  .slider li {
	width: 100%;
	height: 100px;
	position: absolute;
	top: -100px;
	list-style: none;
  }
  
  .slider .quote {
	font-style: italic;
	font-size: 1.75rem;
	font-weight: 700;
  }
  
  .slider .source {
	font-size: 20px;
	text-align: right;
  }
  
  .slider li.anim1 {
	animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
	animation: cycle2 15s linear infinite;
  }
  
  .slider li.anim3 {
	animation: cycle3 15s linear infinite;
  }
  
  .slider li.anim4 {
	animation: cycle4 15s linear infinite;
  }
  
  .slider li.anim5 {
	animation: cycle5 15s linear infinite;
  }
  
  .slider:hover li {
	animation-play-state: paused;
  }
  
  @keyframes cycle {
	0% {
	  top: 0px;
	}
	4% {
	  top: 0px;
	}
	16% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	20% {
	  top: 50px;
	  opacity: 0;
	  z-index: 0;
	}
	21% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
	50% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
	92% {
	  top: -50px;
	  opacity: 0;
	  z-index: 0;
	}
	96% {
	  top: -50px;
	  opacity: 0;
	}
	100% {
	  top: 0px;
	  opacity: 1;
	}
  }
  
  @keyframes cycle2 {
	0% {
	  top: -50px;
	  opacity: 0;
	}
	16% {
	  top: -50px;
	  opacity: 0;
	}
	20% {
	  top: 0px;
	  opacity: 1;
	}
	24% {
	  top: 0px;
	  opacity: 1;
	}
	36% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	40% {
	  top: 50px;
	  opacity: 0;
	  z-index: 0;
	}
	41% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle3 {
	0% {
	  top: -50px;
	  opacity: 0;
	}
	36% {
	  top: -50px;
	  opacity: 0;
	}
	40% {
	  top: 0px;
	  opacity: 1;
	}
	44% {
	  top: 0px;
	  opacity: 1;
	}
	56% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	60% {
	  top: 50px;
	  opacity: 0;
	  z-index: 0;
	}
	61% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle4 {
	0% {
	  top: -50px;
	  opacity: 0;
	}
	56% {
	  top: -50px;
	  opacity: 0;
	}
	60% {
	  top: 0px;
	  opacity: 1;
	}
	64% {
	  top: 0px;
	  opacity: 1;
	}
	76% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	80% {
	  top: 50px;
	  opacity: 0;
	  z-index: 0;
	}
	81% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -50px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle5 {
	0% {
	  top: -50px;
	  opacity: 0;
	}
	76% {
	  top: -50px;
	  opacity: 0;
	}
	80% {
	  top: 0px;
	  opacity: 1;
	}
	84% {
	  top: 0px;
	  opacity: 1;
	}
	96% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	100% {
	  top: 50px;
	  opacity: 0;
	  z-index: 0;
	}
  }
/* END - HEADER QUOTES  */


/* BREAKPOINTS FOR SEARCH ----- */
@media screen and (max-width: 767px) {
	.tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
	.tabs { min-height: 580px; }
	.tab label { 
		height: 60px;
	}
	.tab-content { top: 60px; }
	.tab-content img {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

/* BREAKPOINTS FOR FRONT PAGE --- */

@media screen and (max-width: 767px) {
	.headerFade .container {
		flex-direction: column;
	}
}

/* BREAKPOINTS FOR HOME PAGE --- */

@media screen and (max-width: 767px) {
	.nav {
		display: block;
	}

	.nav .tab.navTab {
		border-radius: 0 !important;
	}
}